<% const ROOT = `${process.cwd()}/src/assets/ejs`; -%>
<%# ページIDを入力する -%>
<% pageId = 'about'; %>

<!DOCTYPE html>
<html lang="ja">

<head>
  <%# メタデータ等 -%>
  <%- include(`${ROOT}/_common/_head.ejs`) %>

  <%# CSS -%>
  <%- include(`${ROOT}/_common/_link.ejs`) %>

  <%# JavaScripts -%>
  <%- include(`${ROOT}/_common/_script.ejs`) %>
</head>

<body id="about">

  <%# 共通SVG画像 -%>
  <%- include(`${ROOT}/_common/_svg.ejs`) %>

  <%# ヘッダー -%>
  <%- include(`${ROOT}/_common/_header.ejs`) %>

  <%# メイン -%>
  <main class="l-main">
    <h2>ABOUTページです。</h2>
    <p><a href="/" class="test-link">TOPページはこちらをクリック</a></p>
  </main>

  <!-- <h3>
    <p>マーックアップエラー用テキスト</p>
  </h3> -->

  <p class="js-test-js-hoge">Javascriptで色変更：hogeファイル（ページ共通）</p>
  <p class="js-test-js-foo">Javascriptで色変更：fooファイル（homeのみ）</p>
  <p class="js-test-js-bar">Javascriptで色変更：barファイル（aboutのみ）</p>

  <%# フッター -%>
  <%- include(`${ROOT}/_common/_footer.ejs`) %>

</body>

</html>
